h1 {
    background: cyan;
}

.container {
    font-weight: bold;
    border: 1px solid green;
}
.big { 
    border: none;
    color: blue;
}
p {    
    font-weight: normal;
    background: yellow;
}